@model IEnumerable<chrissiteMVC.Models.IndexDataModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/IndexStyles.css">
    <link rel="icon" href="resources/pic.jpg" class="img-circle">
    <title>Chris Ewart</title>
</head>

<body>
    <div class="container center-align">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <img src="resources/pic.jpg" class="img-circle img-responsive picture hidden fade-in" />
                <div class="name fade-in hidden">Chris Ewart</div>
                <div class="occupation fade-in hidden">Student/Developer</div>
                <a id="cv" class="hidden fade-in link" target="_blank" href="resources/CV.pdf">CV</a>
                <!-- <a id="projects" class="hidden fade-in link" href="javascript:void(0)">Projects</a> -->
                <a id="contacts" class="hidden fade-in link" href="javascript:contacts()">Contacts</a>
                <a id="about" class="hidden fade-in link" href="javascript:about()">About</a>
                <a id="other-links" class="hidden fade-in link" href="javascript:otherLinks()">Other Links</a>
                <!--Hidden Groups-->
                <div class="contacts-group hidden">
                    <a class="site-link" href="mailto:chris.ewart1999@gmail.com">
                        <i class="fas fa-envelope"
                           style="color: black"></i> chris.ewart1999@gmail.com
                    </a><br>
                    <p class="site-link">
                        <i class="fas fa-phone"
                           style="color: black"></i> +44 (0)74 7039 9913
                    </p>
                </div>
                <div class="about-group hidden">
                    <p>
                        Hi, my name is Chris Ewart I am a computer science student at Queens University Belfast. I am a
                        passionate developer and try and keep up with all new technologies. I mainly develop in .NET,
                        primarily because that is what I first learned but i'm constantly reading about or learning to
                        use other stacks/frameworks.
                    </p>
                </div>
                <div class="other-links-group hidden">
                    <a class="site-link" href="https://www.facebook.com/chris.ewart.526">
                        <i class="fab fa-facebook fa-3x" style="color:#3b5998;"></i>
                    </a>
                    <a class="site-link" href="https://twitter.com/FrChris11">
                        <i class="fab fa-twitter fa-3x"
                           style="color: #1DA1F2"></i>
                    </a>
                    <a class="site-link" href="https://github.com/ChrisE217">
                        <i class="fab fa-github fa-3x"
                           style="color: #333"></i>
                    </a>
                    <a class="site-link" href="https://www.linkedin.com/in/chris-ewart-b62269174/">
                        <i class="fab fa-linkedin fa-3x" style="color: #0077B5"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/Index.js"></script>
</body>

</html>